
.DragDrop {
  border: 8px dashed black;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
}

.drag-drop-container.dragging {
  border-color: #ff6b6b;
}

.drag-drop-message {
  font-size: 18px;
  color: #555;
}

.file-details {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}

.icon {
  display: flex;
  justify-content: center;
  /* height: 100px; */
}

.cursor-pointer {
  cursor: pointer;
}

.vertical-box {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.vertical-item {
  margin: 0 auto;
  margin-bottom: 20px;
  align-self: center;
}