.text-body-questions {
    position: relative;
    border: 1px solid #A8A8A8;
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .text-body-questions.small {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 0px;
    aspect-ratio: 5 / 4;
  }
  .text-body-questions.large {
    margin-left: 16%;
    margin-right: 16%;
    margin-top: 20px;
    aspect-ratio: 9 / 4;
  }

  .vertical-box {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .vertical-item {
    margin: 0 auto;
    margin-bottom: 20px;
    align-self: center;
  }
  
  .next-button-wrapper-qeustions {
    display: flex;
  }
  .next-button-wrapper-qeustions.small {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 8px;
    flex-direction: column;
  }
  .next-button-wrapper-qeustions.large {
    margin-left: 16%;
    margin-right: 16%;
    margin-top: 44px;
    height: 64px;
  }
  
  .next-button-questions {
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    display: block;
  }
  
  .next-button-questions.large {
    font-size: 20px;
    height: 100%;

  }
  .next-button-questions.small {
    font-size: 16px;
    height: 48px;
  }
  
  .button-disabled {
    background-color: #F5F5F5;
    color: #A8A8A8;
  }
  
  .button-activated {
    background-color: #63B899;
    color: #FFFFFF;
  }
  
  .noto-sans-kr {
    font-family: 'Noto Sans KR';
  }
  
  .noto-sans {
    font-family: 'Noto Sans';
  }
  
  .noto-sans-kr-bold {
    font-family: 'Noto Sans KR Bold';
  }

  .ox-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    
  }
  .ox-wrapper.small {
    margin-bottom: 16px;
  }
  .ox-wrapper.large {
    margin-bottom: 44px;
  }

  .ox-button {
    border-radius: 10px;
    margin: 0 12px;
    border: 1px solid;
    width: 40%;
    
    color: #1D1D1D;
    text-align: center;
  }
  .ox-button.small {
    min-width: 120px;
    max-width: 320px;
    height: 48px;
    line-height: 46px;
    font-size: 16px;
  }
  .ox-button.large {
    min-width: 120px;
    max-width: 320px;
    height: 64px;
    line-height: 62px;
    font-size: 24px;
  }

  .o-button {
    border-color: #63B899;
  }

  .o-button.selected {
    background-color: #63B899;
    color: #FFFFFF;
  }

  .x-button {
    border-color: #E38181;
  }

  .x-button.selected {
    background-color: #E38181;
    color: #FFFFFF;
  }

  .not-selected {
    background-color: #F5F5F5;
    color: #A8A8A8;
    border: 0px solid;
  }

  .question-text {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .question-text.large {
    font-size: 24px;
  }
  .question-text.small {
    font-size: 18px;
  }

  .question-item-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
  }

  .question-item {
    flex: 1;
    text-align: center;
    background-color: #F5F5F5;
    color: #A8A8A8;
    font-family: 'Noto Sans SemiBold';
    cursor: pointer;
  }
  .question-item.large {
    padding-top: 12px;
    font-size: 24px;
  }
  .question-item.small {
    padding-top: 6px;
    font-size: 18px;
  }

  .question-answered {
    background-color: #63B89980;
    color: #FFFFFF;
  }

  p {
    display: inline-block;
    vertical-align: middle;
  }

  .subtext {
    
    color: #A8A8A8;
    
    text-align-last: center;
  }
  .subtext.small {
    font-size: 12px;
    margin-top: 6px;
  }
  .subtext.large {
    margin-top: 24px;
    font-size: 18px;
  }

  .question-number {
    margin-top: 54px;
  }