
  .checks-body {
    position: relative;
    border: 1px solid #A8A8A8;
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .checks-body.small {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 0px;
    aspect-ratio: 5 / 4;
  }
  .checks-body.large {
    margin-left: 16%;
    margin-right: 16%;
    margin-top: 20px;
    aspect-ratio: 9 / 4;
  }

  .vertical-box {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .vertical-item {
    margin: 0 auto;
    margin-bottom: 20px;
    align-self: center;
  }
  
  .next-button-wrapper-checks {
    display: flex;
  }
  .next-button-wrapper-checks.small {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 8px;
    flex-direction: column;
  }
  .next-button-wrapper-checks.large {
    margin-left: 16%;
    margin-right: 16%;
    margin-top: 44px;
    height: 64px;
  }
  
  .next-button-checks {
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    display: block;
  }
  
  .next-button-checks.large {
    font-size: 20px;
    height: 100%;

  }
  .next-button-checks.small {
    font-size: 16px;
    height: 48px;
  }
  
  .button-disabled {
    background-color: #F5F5F5;
    color: #A8A8A8;
  }
  
  .button-activated {
    background-color: #63B899;
    color: #FFFFFF;
  }
  
  .noto-sans-kr {
    font-family: 'Noto Sans KR';
  }
  
  .noto-sans {
    font-family: 'Noto Sans';
  }
  
  .noto-sans-kr-bold {
    font-family: 'Noto Sans KR Bold';
  }

  .answer-wrapper {
    width: 100%;
    margin-bottom: 44px;
  }

  .answer-button {
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    min-width: 120px;
    max-width: 664px;
    width: 80%;
    border: 1px solid;
    height: 64px;
    line-height: 62px;
    font-size: 24px;
    color: #1D1D1D;
    text-align: center;
  }

  .answer-button.o-button {
    background-color: #63B899;
    color: #FFFFFF;
  }

  .answer-button.x-button {
    background-color: #E38181;
    color: #FFFFFF;
  }

  .not-selected {
    background-color: #F5F5F5;
    color: #A8A8A8;
    border: 0px solid;
  }

  .checks-text {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .checks-item.large {
    padding-top: 12px;
    font-size: 24px;
  }
  .checks-item.small {
    padding-top: 6px;
    font-size: 18px;
  }

  .checks-item-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
  }

  .checks-item {
    flex: 1;
    padding-top: 12px;
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Noto Sans SemiBold';
    cursor: pointer;
  }

  .correct-answer {
    background-color: #63B899;
    opacity: 0.5;
  }

  .wrong-answer {
    background-color: #E38181;
    opacity: 0.5;
  }

  .current-answer {
    opacity: 1;
  }


  p {
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
  }

  .subtext {
    
    color: #A8A8A8;
    
    text-align-last: center;
  }
  .subtext.small {
    font-size: 12px;
    margin-top: 6px;
  }
  .subtext.large {
    margin-top: 24px;
    font-size: 18px;
  }

  .question-number {
    margin-top: 54px;
  }